{% set items = [{ title: 'DEADLINE | English meaning - Cambridge Dictionary', href: 'https://dictionary.cambridge.org/dictionary/english/deadline' },
                { title: "How to make peace with deadlines in software development", href: 'https://www.freecodecamp.org/news/how-to-make-peace-with-deadlines-in-software-development-6cfe3e993f51/'},
                { title: "When is it Okay to Miss an IT Project Deadline?", href: 'https://www.informationweek.com/it-life/when-is-it-okay-to-miss-an-it-project-deadline-' },
                { title: "Deadlines (in software development) do not give you any predictability", href: "https://medium.com/agility-path/deadlines-do-not-give-you-any-predictability-3cbe6308fff5" },
                { title: '10 signs of deadline-driven development', href: 'https://www.atlassian.com/blog/technology/10-signs-deadline-driven-development' }] %}